@media (max-width:1440px) {
    .txt h1 {
        font-size: 2.5em;
    }

    .content div img {
        width: 100%;
    }

    .social-home {
        display: none;
    }

    .parts,.parts-2 {
        width: 650px;
    }

    .section-head h2 {
        font-size: 2.5em;
    }

    #box {
        margin: 16px;
        width: 400px;
    }

    .about-cont div {
        width: unset;
        padding: 64px;
    }

    .service {
        height: fit-content;
    }

    nav ul li a {
        font-size: 1.2em;
    }

}


@media (max-width:1024px) {
    .contact-container {
        flex-direction: column;
    }

    .home {
        flex-wrap: wrap;
    }

    .section-head p {
        width: 100%;
        padding: 14px;
    }

    .kuwait img {
        width: 100%;
    }

    nav ul li a {
        font-size: 1.2em;
        margin: 24px;
    }

    .news p {
        width: 100%;
        padding: 14px;
    }

    .home .txt {
        width: 100%;
        margin-top: 100px;
    }

    .service {
        width: 100%;
    }

    .parts {
        margin-top: 150px;
    }

    .column ul {
        margin-left: 0;
        margin-top: 32px;
    }

    #box {
        width: 650px;
    }
}


@media (min-width:481px) and (max-width:932px){
    nav ul li a {
        font-size: 1em;
        margin: 14px;
    }

    #box {
        width: 500px;
    }

    #menu {
        display: block;
    }

    nav {
        display: none;
        width: 100%;
        margin-top: 24px;
    }
    
    header {
        flex-wrap: wrap;
    }

    .kuwait img {
        width: 100%;
    }

    .content div img {
        width: 100%;
    }

    .parts {
        margin-top: 175px;
        width: fit-content;
    }

    .about-cont div {
        width: unset;
        padding: 16px;
    }

    .service {
        width: 100%;
        height: fit-content;
    }

    p {
        font-size: 0.9em;
    }
}



@media (min-width:481px) and (max-width:740px){
    .parts {
        height: 500px;
        width: unset;
        margin-top: 0;
        margin: 50px auto;
    }

    .parts-2 {
        height: 500px;
        margin-top: 0;
        margin: 50px auto;
        width: unset;
    }
    
    nav ul {
        flex-direction: column;
        background-color: var(--c2);
        list-style: none;
        height: fit-content;
    }

    nav ul li {
        padding: 50px;
    }

    .se {
        border-bottom: solid var(--greenNeon) 1px;
        width: 100%;
        padding: 0;
    }
}





@media (max-width:480px) {

    p {
        font-size: 0.9em;
    }

    .service:hover {
        transform: none;
        cursor: unset;
    }

    .projects-container ul li {
        font-size: 0.8em;
        padding: 17px;
    }

    #menu {
        display: block;
    }

    nav {
        display: none;
        width: 100%;
        margin-top: 24px;
    }
    
    header {
        flex-wrap: wrap;
    }

    .txt p {
        font-size: 0.9em;
    }
    
    nav ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background-color: var(--c2);
        list-style: none;
        height: fit-content;
    }

    nav ul li a {
        font-size: 1em;
        margin: 0;
    }

    nav ul li {
        padding: 50px;
    }

    .se {
        border-bottom: solid var(--greenNeon) 1px;
        width: 100%;
        padding: 0;
    }

    .logo img {
        height: 100px;
    }

    .home {
        flex-direction: column;
    }

    .home .txt {
        width: 100%;
        margin-top: 50px;
    }

    .txt h1 {
        font-size: 2.0em;
    }

    .btns {
        text-align: center;
    }

    .second {
        margin-left: 0;
        margin-top: 12px;
    }

    .arm {
        width: 100%;
    }

    .parts {
        height: 400px;
        width: fit-content;
        margin: 50px auto;
    }

    .features-head h2 {
        font-size: 2.3em;
    }

    .features-head p {
        width: 100%;
    }

    .features-head {
        text-align: center;
        padding: 14px;
    }

    #box {
        width: 100%;
        margin: 16px auto;
        height: unset;
        padding: 50px 24px 50px 24px;
    }

    .boxes {
        padding: 16px;
    }

    .services .boxes {
        padding: 8px;
    }

    .service {
        margin: 0;
        margin-top: 12px;
        width: 100%;
    }

    .service h2 {
        font-size: 1.3em;
    }

    .service p {
        font-size: 0.8em;
        letter-spacing: 1px;
    }

    .section-head h2 {
        font-size: 2.1em;
    }

    .section-head p {
        width: 100%;
        padding: 7px;
    }

    .content div img:hover {
        transform: scale(1.1);
    }

    .projects-container ul {
        width: unset;
    }

    .mini-cont h2 {
        font-size: 1.2em;
    }

    .content div img {
        width: 100%;
        margin: 0;
    }

    .mini-cont {
        margin: 24px auto;
    }

    .about-cont div {
        padding: 16px;
        width: -webkit-fill-available;
        text-align: center;
    }

    .about-us p {
        font-size: 0.9em;
    }
    
    .kuwait img {
        width: 100%;
    }

    .news h2 {
        font-size: 2.3em;
    }
    
    .news p {
        width: 100%;
        padding: 6px;
    }

    .sub input[type="mail"] {
        width: 200px;
    }

    .contact-container {
        flex-direction: column;
    }

    .parts-2 {
        width: auto;
        height: 400px;
        margin: 50px auto;
    }

    .icon {
        padding: 6px;
        padding-top: 16px;
    }

    footer .column, .center {
        padding-top: 64px;
    }

    .social-home {
        width: unset;
        position: unset;
    }
}